.App {
	text-align: center;
	padding-bottom: 30px;
}

.todo-wrapper{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.btn-primary{
	width: 105px;
	height: 30px;
	background-color: rgb(233, 218, 133);
	border-radius: 7px;
	box-shadow: 2px 3px 4px #c0bf93;
	cursor: pointer;
}

.btn-primary:hover{background-color: rgb(216, 197, 89);}

.btn-primary:focus{outline: none}
